@use 'mixins/mixins.scss' as *;

@include b(icon) {
    display: inline-flex;
    /**
     * 使得多图标并列引入时, 能够垂直方向居中
    */
    vertical-align: middle;
    /**
     *使用 em 为单位, 使得组件使用者可以通过传入组件的 size 大小来使得图标随之变化
    */ 
    width: 1em;
    height: 1em;
}
